Repository Mnigos/biuro-makowska-www: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to ., stylelint --fix --allow-empty-input --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,ts,md,jsx,tsx,mdx}": "eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .",
  "*.{sass,scss,pcss,postcss,css}": "stylelint --fix --allow-empty-input --ignore-path .gitignore"
}

feat(public): add favicon, sitemap and webmanifest
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/next.svg
  public/robots.txt
  public/site.webmanifest
  public/sitemap.txt
  public/vercel.svg
Due: none

chore: add `commitlint.config`
  commitlint.config.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

chore(package): fix commands
  package.json
  yarn.lock
Due: none

chore(eslintrc): fix configuration
  .eslintrc.cjs
Due: none

feat(assets): add images
  src/assets/images/background.jpg
  src/assets/images/biuro-makowska-logo.png
  src/assets/images/index.ts
  src/assets/images/kibr-logo.png
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(package): upgrade unicorn eslint plugin
  .gitignore
  package.json
  yarn.lock
Due: none

feat(layouts): create default and landing layout
  src/layouts/default.tsx
  src/layouts/index.tsx
  src/layouts/landing.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

style(styles/theme.css): format file
  src/styles/theme.css
Due: stylelint --fix --allow-empty-input --ignore-path .gitignore

feat(styles): create global stylesheets
  src/styles/global.css
Due: stylelint --fix --allow-empty-input --ignore-path .gitignore

feat(pages/_app): implement layout
  src/pages/_app.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(pages/index): implement landing page
  src/pages/index.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

chore: fix eslint config
  .eslintrc.cjs
  package.json
  yarn.lock
Due: none

refactor(pages): remove api page
  src/pages/api/hello.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(components): implement navigation bar
  src/components/navigation-bar.tsx
  src/layouts/default.tsx
  src/layouts/index.tsx
  src/layouts/landing.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

chore(deps): add `react-query`, `axios` and `react-markdown`
  package.json
  yarn.lock
Due: none

chore(environment): add example env config
  .example.env
  .gitignore
Due: none

feat(api): create strapi client axios instance
  src/api/strapi-client.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

chore(dev-deps): add `vitest-mock-extended`
  package.json
  yarn.lock
Due: none

feat(api/constants): add api keys
  src/api/constants/index.ts
  src/api/constants/query-keys.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(api/adapters): create `adaptLandingPageResponse`
  src/api/adapters/index.ts
  src/api/adapters/landing-page-response.spec.ts
  src/api/adapters/landing-page-response.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(api/fetchers): create `getAboutCompany` and `getWelcomeToMyPage`
  src/api/fetchers/get-about-company.ts
  src/api/fetchers/get-welcome-to-my-page.ts
  src/api/fetchers/index.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(api/types): create api types
  src/api/types/base-api-attributes.ts
  src/api/types/index.ts
  src/api/types/landing-page.ts
  src/api/types/strapi-response.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(api/utils): create `instanceOfLandingPage`
  src/api/utils/index.ts
  src/api/utils/instance-of-landing-page.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(hooks/api): create `useAboutCompany` and `useWelcomeToMyPage`
  src/hooks/api/index.ts
  src/hooks/api/use-about-company.ts
  src/hooks/api/use-welcome-to-my-page.ts
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

feat(pages/_app): initialize react query
  src/pages/_app.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

refactor(pages): move landing page cards to separate components
  src/components/cards/about-company.tsx
  src/components/cards/index.ts
  src/components/cards/welcome-to-my-page.tsx
  src/pages/index.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

chore(package): change yarn engine version
  package.json
Due: none

fix(components/cards): return `null` instead of `undefined`
  src/components/cards/about-company.tsx
  src/components/cards/welcome-to-my-page.tsx
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .

refactor: migrate from `coverage-c8` to `coverage-v8`
  package.json
  vitest.config.ts
  yarn.lock
Due: eslint --cache --fix --ignore-path .gitignore --resolve-plugins-relative-to .
